# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
path/
venv/
.venv/


# Database
*.sqlite3

# OS / IDE
.idea/
.vscode/
.DS_Store
Thumbs.db
.obsidian/

# Node
node_modules/
package-lock.json

# Cache and logs
.pytest_cache/
*.log
.coverage
htmlcov/

# User Data / Resumes
resume.txt
jobs.txt
app/data/resume.txt
app/data/jobs.txt


